node_modules
.pnp*
dist
.turbo
.next
out
.DS_Store
.env*
coverage
*.log
.vscode
.idea
/.husky
/tmp
/apps/web/.vercel
/apps/web/public/sig.beacon.json
__pycache__
*.pyc
poetry.lock
package-lock.json
*.pyo
.pytest_cache
pnpm-lock.yaml
